<% unless @bands.empty? %>
<h1>Bands To Cry To</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bands.each_with_index do |band, index| %>
    <tr>
      <td><%= "#{index + 1} - #{band.name}" %></td>
      <td><%= link_to 'Delete', band, method: :delete, data: {confirm: 'You sure?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class='actions'>
  <%= link_to 'Add New Band', new_band_path, class: 'btn' %>
</div>
<div class='actions'>
  <%= link_to 'Bingo Board', start_path %>
</div>