<table class='card'>
  <tbody>
    <% @card.board.each_slice(5) do |row| %>
    <tr>
      <% row.each do |band| %>
	      <td class='unclicked'><%= link_to band, '#' %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>