html, body {
	height: 100%;
}

table th {
	text-align: left;
}

.card {
	table-layout: fixed;
	border: solid 1px gray;
}

.card td {
	width: 18%;
	border: solid 1px gray;
	overflow: hidden;
	text-align: center;
}

.card tr {
	height: 150px;
}

.card td.clicked {
	background-color: #5cfff3;
}

.card tr:nth-child(3) td:nth-child(3) {
	background-color: #ff7373;
}